.header {
	font-family: Helvetica;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

h2 {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
}

#brushes h2{
	background-color: #00FF9E;
}

#frames h2{
	background-color: #FF7378;
}

#paint h2{
	background-color: #71CFEE;
}

#bluetext {
	color:#5819FF;
	font-family: Helvetica;
}
